* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(69, 57, 57);
}

p{
    font-size: 25px;
    margin-bottom: 5px;
    background-color: aqua;
}

h4{
    font-size: 20px;
    margin-bottom: 5px;
    background-color:yellowgreen;
    font-weight: lighter;
}

div{
    margin-bottom: 20px;
}